<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../index.css" />
    <title>Chuck Norris</title>
  </head>
  <body>
    <div class="container">
      <h1>Chuck Norris <spam>Jokes</spam></h1>
      <h2><%= category %></h2>
      <img
        src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/74a89ef8-04f7-42e5-81f3-5b2a85bf8639/d32tlj1-15fb2969-f344-484b-9b8b-39bd90631446.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNzRhODllZjgtMDRmNy00MmU1LTgxZjMtNWIyYTg1YmY4NjM5XC9kMzJ0bGoxLTE1ZmIyOTY5LWYzNDQtNDg0Yi05YjhiLTM5YmQ5MDYzMTQ0Ni5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.jaLCV3aPK7acku68_PdnaIbYHc7bjpi_FaN7BurNgSY"
      />
      <h4><%= joke %></h4>
      <a href="/">Back</a>
    </div>
  </body>
  <style>

    
    spam {
      color: orangered;
    }

    a {
      background-color: orangered;
      border-radius: 4px;
      border: 1px solid black;
      color: white;
      font-size: 20;
      padding: 3px 8px;
      text-decoration: none;
    }

    li {
      list-style: none;
      margin: 5px;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
    }

    .container {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: auto;
      position: relative;
      width: 40vw;
    }

    h1 {
      border-top: 1px, black;
      font-size: 3em;
      margin-block-end: 0;
      margin-block-start: 0.2em;
    }

    h2 {
      font-size: 2em;
      margin-block-end: 0;
      margin-block-start: 0.5em;
    }

    h4 {
      margin-top:0;
      border-top: 1px solid black;
    }
  </style>
</html>
