body {
    background-color: rgb(27, 102, 44);
}

#carta_virada{
    width: 10%;
}

#mesa {
    display: flex;
    flex-wrap: wrap;
    margin:15px;
    max-width: 1000px;
}
#carta{
    background-image: url('/exercises/7_3/cartas/cinco-de-ouros.png');
    background-position: center;
    background-size: 136px;
    width: 136px;
    height: 187px;
    margin: 13px;
    transition: all 0.2s;
}

.rotate {
    animation: rotating 200ms forwards;
}

@keyframes rotating {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.translate-up {
    animation: translateUp  200ms forwards;
}

@keyframes translateUp  {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-60px);
    }
}

.translate-down {
    animation: translateDown  200ms forwards;
}

@keyframes translateDown {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(60px);
    }
}

.scale-up {
    animation: scaleUp 200ms forwards;
}

@keyframes scaleUp {
    0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1.2);
      }
}

.scale-down {
    animation: scaleDown 200ms forwards;
}

@keyframes scaleDown {
    0% {
        transform: scale(0);
      }
      100% {
        transform: scale(0.8);
      }
}

.skew-up {
    animation: skewUp 200ms forwards;
}

@keyframes skewUp {
    0% {
        transform: skew(0deg);
      }
      100% {
        transform: skew(-30deg);
      }
}

.skew-down {
    animation: skewDown  200ms forwards;
}

@keyframes skewUp {
    0% {
        transform: skew(0deg);
      }
      100% {
        transform: skew(30deg);;
      }
}





