<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>input - CEP</title>
  </head>
  <body>
      <form action="/cep" method="POST">
    <input type="text" name="nameCep" placeholder="Digite o CEP" />&nbsp
    <button type="submit" class="btn btn-primary">Consultar</button>
</form>
  </body>
</html>
